// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color-default:  #9c4274;
$background-color-good:  #9c4274;
$background-color-bad:  #9c4274;

$title-color:       rgba(255, 255, 255, 1);
$moreinfo-color:    rgba(255, 255, 255, 0.3);

$meter-background:  rgba(0, 0, 0, 0.3);

// ----------------------------------------------------------------------------
// Widget-meter2 styles
// ----------------------------------------------------------------------------
.widget-meter-rg {

  background-color: $background-color-default;

  input.meter {
    background-color: $meter-background;
    color: #fff;
  }

  .title {
    color: $title-color;
  }

  .more-info {
    color: white;
font-size: 65px;
font-weight: bold;

  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }

}

.widget-meter-rg.bad {
  background-color: $background-color-bad;
}

.widget-meter-rg.good {
  background-color: $background-color-good;
}
