<script type='text/javascript'>
 $(function() {
   Dashing.gridsterLayout('[{"col":1,"row":2,"size_x":1,"size_y":1},{"col":3,"row":2,"size_x":1,"size_y":1},{"col":3,"row":1,"size_x":2,"size_y":1},{"col":2,"row":2,"size_x":1,"size_y":1},{"col":1,"row":1,"size_x":2,"size_y":1},{"col":4,"row":2,"size_x":1,"size_y":1}]')
 });
 </script>



<div class="gridster">
  <ul>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="example_data" data-view="MeterRg" data-title="Today" data-min="0" data-max="100" data-threshold="75" data-suffix="%" data-moreinfo="122L"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="This_Week" data-view="Alert" data-addclass-danger="isTooHigh" data-title="This Week" data-suffix="L"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="Tip" data-view="Alert3" data-addclass-danger="isTooHigh" data-title="Daily Tip"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Weekly_Average" data-view="Alert2" data-addclass-danger="isTooHigh" data-title="Your Average" data-suffix="L"></div>
    </li>
<li data-row="2" data-col="2" data-sizex="2" data-sizey="1">
  <div data-view="TwelveHourClock"></div>
</li>
<li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
  <div data-id="image" data-view="Image" data-title="My Sweet Image" data-image="/USC.png"></div>
</li>

  </ul>
</div>

